<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="page-title">
    <h3 color="dark">NASTAVITVE</h3>
  </div>
  <ion-col col-8>
    <div class="settings-item"(click)="editUser()">
      <span>uredi osebne podatke</span>
    </div>
    <div class="settings-item">
      <span>povratne informacije</span>
    </div>
    <div class="settings-item" (click)="about()">
      <span>o aplikaciji</span>
    </div>
    <div class="settings-item" (click)="logout()">
      <span>izpiši se</span>
    </div>
  </ion-col>
</ion-content>
