<ion-header>

  <ion-navbar>
    <ion-title>Map</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openGetReportModal()">
        <p>View report</p>
        <ion-icon name="eye"></ion-icon>
      </button>
      <button ion-button (click)="openAddReportModal()">
        <p>Send report</p>
        <ion-icon name="paper-plane"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div #map id="map"></div>
  <div>
    <!--<button id="addMarker" ion-button icon-end (click) ="addMarkerButton()">
      <p>Add</p>
      <ion-icon name="pin"></ion-icon>
    </button>-->
    <button id="clearMap" ion-button icon-end (click) ="clearMap()">
      <p>Clear</p>
      <ion-icon name="trash"></ion-icon>
    </button>
  </div>
</ion-content>
