<!--
  Generated template for the EditDataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup] = "editUserForm">

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" [formControl]="editUserForm.controls['email']"></ion-input>
    </ion-item>

    <div class="error" *ngIf="editUserForm.get('email').hasError('required') && editUserForm.get('email').touched">
      Vnesite e-poštni naslov!
    </div>
    <div class="error" *ngIf="editUserForm.get('email').hasError('pattern') && editUserForm.get('email').touched">
      Ni veljaven poštni naslov!
    </div>

    <ion-item>
      <ion-label floating>Ime</ion-label>
      <ion-input  [formControl]="editUserForm.controls['name']"></ion-input>
    </ion-item>

    <div class="error" *ngIf="editUserForm.get('name').hasError('required') && editUserForm.get('name').touched">
      Vnesite ime!
    </div>
    <div class="error" *ngIf="editUserForm.get('name').hasError('pattern') && editUserForm.get('name').touched">
      Dovoljene samo črke
    </div>
    <div class="error" *ngIf="editUserForm.get('name').hasError('mingLength') && editUserForm.get('name').touched">
      Minimalna dolžina je črke je 3
    </div>

    <ion-item>
      <ion-label floating>Priimek</ion-label>
      <ion-input  [formControl]="editUserForm.controls['surname']"></ion-input>
    </ion-item>

    <div class="error" *ngIf="editUserForm.get('surname').hasError('required') && editUserForm.get('surname').touched">
      Vnesite priimek!
    </div>
    <div class="error" *ngIf="editUserForm.get('surname').hasError('pattern') && editUserForm.get('surname').touched">
      Dovoljene samo črke
    </div>
    <div class="error" *ngIf="editUserForm.get('surname').hasError('mingLength') && editUserForm.get('surname').touched">
      Minimalna dolžina je črke je 3
    </div>

    <ion-item>
      <ion-label floating>Telefonska številka</ion-label>
      <ion-input  [formControl]="editUserForm.controls['phoneNumber']"></ion-input>
    </ion-item>

    <div class="error" *ngIf="editUserForm.get('phoneNumber').hasError('required') && editUserForm.get('phoneNumber').touched">
      Vnesite telefonsko številko!
    </div>
    <div class="error" *ngIf="editUserForm.get('phoneNumber').hasError('pattern') && editUserForm.get('phoneNumber').touched">
      Dovoljena samo številka
    </div>
    <div class="error" *ngIf="editUserForm.get('phoneNumber').hasError('minLength') && editUserForm.get('phoneNumber').touched">
      Minimalna dolžina je 6, maksimalna 9
    </div>
    <div class="error" *ngIf="editUserForm.get('phoneNumber').hasError('maxLength') && editUserForm.get('phoneNumber').touched">
      Minimalna dolžina je 6, maksimalna 9
    </div>


    <ion-item>
      <ion-label floating>Vloga</ion-label>
      <ion-select  [formControl]="editUserForm.controls['role']">
        <ion-option>Pomočnik</ion-option>
        <ion-option>Čuvaj</ion-option>
        <ion-option>Mojster</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Lovska družina</ion-label>
      <ion-select [formControl]="editUserForm.controls['druzina']">
        <ion-option *ngFor="let druzina of lovskeDruzine" [value]="druzina.id">{{druzina.naziv}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-row>
      <ion-col text-center>
        <button type="submit" ion-button block color="secondary" (click)="edit()">
          Posodobi
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
